name: Generate GitHub Skyline
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main", "master"]}
jobs:
  skyline-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-skyline.svg
          base: "" # 隐藏不需要的基础信息
          plugin_skyline: yes
          plugin_skyline_year: 2024 # 如果2025数据还不够，2024的天际线最壮观
          plugin_skyline_frames: 60  # 生成有 3D 旋转感的动画图
          plugin_skyline_quality: 1
          config_timezone: Asia/Shanghai
