name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: "" # 只显示插件内容，不显示基础页眉
          
          # 正确的康威生命游戏插件参数
          plugin_ani_life: yes
          plugin_ani_life_limit: 10 # 演化次数
          plugin_ani_life_days: 365 # 统计过去一年的数据作为细胞
          
          config_timezone: Asia/Shanghai
