name: Metrics
on:
  # 每天自动更新
  schedule: [{cron: "0 0 * * *"}]
  # 支持手动触发
  workflow_dispatch:
  # 推送时触发
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: "" # 隐藏默认的基础统计，只显示生命游戏
          plugin_life: yes
          plugin_life_limit: 10 # 模拟演化的步数
          plugin_life_days: 365 # 使用过去一年的数据作为初始状态
          config_timezone: Asia/Shanghai # 设置你的时区
